.failPage {
  width: 600px;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-Fail {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  gap: 10px;
}
.sad {
  width: 36px;
  height: 36px;
  
}
.textFail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 20px;
 
}

.restartCard {
  width: 345px;
  height: 72px;
  display: inline-block;
  padding: 24px 65px;
  border: 3px solid #ffef61;
  border-radius: 12px;

  background-color: #ffffff;
  background-image: url(../../assets/next.png), url(../../assets/next.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 80% 55%;

  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.restartCard:hover {
  color: #000000;
  background-color: #fff7b1;
}
