.successPage {
    width: 600px;
    height: 800px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-success {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
  }
  .happy {
    width: 36px;
    height: 36px;
    
  }
  .textSuccess {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
   
  }
  